option_settings:
  aws:ec2:vpc:
    VPCId: vpc-0634778e59714d8dd
    Subnets: subnet-0993eea041f4a319d,subnet-0ac0629457563637e,subnet-06e3fcf4fe481f977
    ELBSubnets: subnet-0993eea041f4a319d,subnet-0ac0629457563637e,subnet-06e3fcf4fe481f977
    SecurityGroups: sg-04040467aa2023b1f

  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    DB_HOST: nestegg-db.cnouoq0wak2d.eu-north-1.rds.amazonaws.com
    DB_PORT: '5432'
    DB_USER: nestegg_admin
    DB_PASS: dNHRbL6N0lZEWnpDI8YhN3P3P9w67GBYnixLN+nFrKk=
    DB_NAME: nestegg
